<div class="invoice">
  <h4>Income</h4>
  <br /><br />
  <div class="card-body p-0">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
      <div class="card-body form-row">
        <div class="form-group col-4 col-md-4">
          <label for="inputDateFrom">Date From</label>
          <input
            type="date"
            formControlName="date_from"
            class="form-control"
            placeholder="Date From"
          />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputDateT">Date To</label>
          <input
            type="date"
            formControlName="date_to"
            class="form-control"
            placeholder="Date To"
          />
        </div>

        <div><button type="submit" class="btn btn-primary">Submit</button></div>

        <table class="table table-striped table-bordered table-hover">
          <thead class="thead-dark">
            <tr>
              
              <th scope="col">Product</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price</th>
              <th scope="col">Tax</th>
              <th scope="col">Total Price</th>
              <th scope="col">date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of income">
              
              <td>{{ i.product}}</td>
              <td>{{ i.quantity}}</td>
              <td>{{ i.price }}</td>
              <td>{{ i.tax }}</td>
              <td>{{ i.totalPrice }}</td>
              <td>{{ i.date| date: "shortDate" }} - {{ i.date| date: "shortTime" }}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
</div>
