<div class="wrapper">
  <app-navbar></app-navbar>

  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a class="brand-link">
      <img
        src="assets/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">INVENTORY</span>
    </a>

    <div class="sidebar">
      <app-user></app-user>

      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item menu-open">
            <a class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                TO DO
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a
                  type="submit"
                  class="nav-link"
                  type="button"
                  data-toggle="modal"
                  data-target="#modal-default"
                >
                  <i class="far fa-circle nav-icon"></i>
                  <p>SUPLIER (list suplier, create suplier)</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  type="button"
                  data-toggle="modal"
                  data-target="#modal-xl"
                >
                  <i class="far fa-circle nav-icon"></i>
                  <p>PRODUCT (list product, create product, edit product)</p>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  type="button"
                  data-toggle="modal"
                  data-target="#modal-lg"
                >
                  <i class="far fa-circle nav-icon"></i>
                  <p>ORDER (purchase order, delivery order)</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>

  <div class="content-wrapper">
    <section class="content">
      <app-add-suplier></app-add-suplier>
      <app-suplier-details></app-suplier-details>
      <app-create-product></app-create-product>
      

      <app-product-list-inventory></app-product-list-inventory>
      <app-purchase-form></app-purchase-form>
      <app-delivery-order></app-delivery-order>
      <app-purchase-order></app-purchase-order>
    </section>
  </div>

  <footer class="main-footer">
    <strong
      >Copyright &copy; 2021
      <a href="https://adminlte.io">Acong Kelontong</a>.</strong
    >
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.1.0</div>
  </footer>
</div>
