<a class="brand-link">
  <img
    src="assets/AdminLTELogo.png"
    alt="AdminLTE Logo"
    class="brand-image img-circle elevation-3"
    style="opacity: 0.8"
  />
  <span class="brand-text font-weight-light">{{ title }}</span>
</a>

<div class="sidebar">
  <app-user></app-user>
  <nav class="mt-2">
    <ul
      class="nav nav-pills nav-sidebar flex-column"
      data-widget="treeview"
      role="menu"
      data-accordion="false"
    >
      <li class="nav-item menu-open">
        <a class="nav-link">
          <i class="nav-icon fas fa-edit"></i>
          <p>
            TO DO
            <i class="right fas fa-angle-left"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item" *ngFor="let menu of menuData">
            <a
              type="submit"
              class="nav-link"
              type="button"
              [routerLink]="['../' + menu]"
            >
              <i class="far fa-circle nav-icon"></i>
              <p>{{ menu }}</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
