<div class="wrapper">
    <app-navbar></app-navbar>
  
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <app-sidebar></app-sidebar>
    </aside>
  
    <div class="content-wrapper">
      <section class="content">
        <app-create-product></app-create-product>
        <app-product-list-inventory></app-product-list-inventory>
      </section>
    </div>
  
    <footer class="main-footer">
      <strong>Copyright &copy; 2021
        <a href="https://adminlte.io">Acong Kelontong</a>.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block"><b>Version</b> 3.1.0</div>
    </footer>
  </div>