<div class="card form-po">
  <div class="card-header border-transparent">
    <h2 class="card-title">Form Purchase Order</h2>
  </div>
  <hr />
  <div class="card-body p-0">
    <form [formGroup]="addPurchaseForm" (ngSubmit)="onSubmit()">
      <div class="card-body form-row">
        <div class="form-group col-4 col-md-4">
          <label for="inputNamaSupplier">Barcode</label>
          <input type="barcode" formControlName="barcode" class="form-control" placeholder="barcode" />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputContact">Quantity</label>
          <input type="quantity" formControlName="quantity" class="form-control" placeholder="number: E.g 1000" />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="inputAddress">Discount</label>
          <input type="discount" formControlName="discount" class="form-control" placeholder="number: E.g 20" />
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!addPurchaseForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>

<section class="content purchase-order" id="purchaseOrder">
  <div class="container-fluid">
    <div class="content-header">
      <h1>Purchase Order</h1>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Acong Kelontong
                <small class="float-right">Tanggal: {{orderData?.createdAt |date: "shortDate"}}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Dari:
              <address>
                <strong>Acong Kelontong</strong><br />
                <!-- 795 Folsom Ave, Suite 600<br /> -->
                Jl. Sepanjang Jalan Kenangan No.123<br />
                Telepon: (022) 123-5432<br />
                Email: acong@kelontong.com
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              Kepada:
              <address>
                <strong>{{suplierDetail?.suplier_name}}</strong><br />
                <!-- 795 Folsom Ave, Suite 600<br /> -->
                {{suplierDetail?.address}}<br />
                Telepon: {{suplierDetail?.contact}}<br />
                <!-- Email: omad@sejahtera.com -->
              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Order ID:</b> {{orderData?._id}}<br />
              <!-- <b>Tanggal Order:</b> {{orderData?.createdAt |date: "shortDate"}}<br /> -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Brand</th>
                    <th>Produk</th>
                    <th>UOM</th>
                    <th>Harga</th>
                    <th>Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>{{orderData?.brand_name}}</th>
                    <th>{{orderData?.product_name}}</th>
                    <th>{{orderData?.uom}}</th>
                    <th>{{orderData?.buyPrice |currency:"IDR"}}</th>
                    <th>{{orderData?.quantity}}</th>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <div class="col-7"></div>
            <!-- /.col -->
            <div class="col-5">
              <p class="lead">Amount Due {{orderData?.createdAt |date: "shortDate"}}</p>

              <div class="table-responsive">
                <table class="table">
                  <!-- <tr>
                    <th style="width: 50%">Total:</th>
                    <td></td>
                  </tr> -->
                  <tr>
                    <th>Diskon</th>
                    <td>{{orderData?.discount}} %</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>{{orderData?.subTotal |currency:"IDR"}}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <button type="button" class="btn btn-dark float-right" ngxPrint printSectionId="purchaseOrder"
                [useExistingCss]="true">
                Print
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>