<div class="card form-product">
  <div class="card-header border-transparent">
    <h2 class="card-title">Membuat Produk</h2>
  </div>
  <hr />
  <div class="card-body p-0">
    <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
      <div class="card-body form-row">
        <!-- <div class="form-group col-4 col-md-2">
          <label for="inputKodeProduk">Status</label>
          <input type="status" formControlName="status" class="form-control" id="inputKodeProduk"
            placeholder="Status" />
        </div> -->

        <!-- <div class="form-group col-4 col-md-2">
          <label for="inputNamaSuplier">Suplier Name</label>
          <input type="text" formControlName="suplier_name" class="form-control" id="inputNamaSuplier"
            placeholder="Nama Suplier" />
        </div> -->

        <div class="form-group col-4 col-md-4">
          <label for="inputNamaSuplier">Suplier</label>
          <select class="custom-select mr-sm-2" id="inputNamaSuplier" formControlName="suplier_name" (change)="onlistSuplier()">
            <option value="" [defaultSelected]></option>
            <option *ngFor="let suplier of suplierList" value="{{suplier.suplier_name}}">{{suplier.suplier_name}}</option>
          </select>
        </div>
        <!-- <div class="form-group col-4 col-md-4">
          <label for="inputBrand">Brand</label>
          <select class="custom-select mr-sm-2" id="inputBrand" formControlName="brand_name">
            <option value=""></option>
            <option *ngFor="let brand of brandList" value="{{brand}}">{{brand}}</option>
          </select>
        </div> -->
        <div class="form-group col-4 col-md-2">
          <label for="inputBrand">Brand</label>
          <input type="text"  id="inputBrand" class="form-control" list="brands" formControlName="brand_name" (change)="onlistBrand()" />
          <datalist id="brands">
            <option *ngFor="let brand of brandList">{{brand}}</option>
          </datalist>
        </div>

        <div class="form-group col-4 col-md-2">
          <label for="inputNamaProduk">Product</label>
          <input type="text"  id="inputNamaProduk" class="form-control" list="products" formControlName="product_name" />
          <datalist id="products">
            <option *ngFor="let product of productList">{{product}}</option>
          </datalist>
        </div>
        <div class="form-group col-4 col-md-2">
          <label for="inputUOM">Unit Of Measure</label>
          <input type="text"  id="inputUOM" class="form-control" list="uoms" formControlName="uom" />
          <datalist id="uoms">
            <option *ngFor="let uom of uomList">{{uom}}</option>
          </datalist>
        </div>
        <!-- <div class="form-group col-4 col-md-2">
          <label for="inputNamaProduk">Product Name</label>
          <input type="text" formControlName="product_name" class="form-control" id="inputNamaProduk"
            placeholder="Nama Produk" />
        </div> -->
        <!-- <div class="form-group col-4 col-md-2">
          <label for="inputUOM">Unit of measure</label>
          <input type="text" formControlName="uom" class="form-control" id="inputUOM" placeholder="UOM" />
        </div> -->
        <div class="form-group col-4 col-md-2">
          <label for="inputHargaJual">Harga Jual</label>
          <input type="text" formControlName="sellPrice" class="form-control" id="inputHargaJual"
            placeholder="number: E.g 5000" />
        </div>

        <div class="form-group col-4 col-md-2">
          <label for="inputHargaBeli">Harga beli</label>
          <input type="text" formControlName="buyPrice" class="form-control" id="inputHargaBeli"
            placeholder="number: E.g 3000" />
        </div>
        
        <div class="form-group col-4 col-md-2">
          <label for="inputBarcode">Barcode</label>
          <input type="text" formControlName="barcode" class="form-control" id="inputBarcode" placeholder="e.g 1694658618636" />
        </div>

        <div class="form-group col-4 col-md-4">
          <label for="isAfterTax">AfterTax</label>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="isAfterTax" value="yes" formControlName="isAfterTax">
              <label class="form-check-label" for="isAfterTax">
                Yes
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="isAfterTax" value="no" formControlName="isAfterTax">
              <label class="form-check-label" for="isAfterTax">
                No
              </label>
            </div>
            <!-- <select class="custom-select mr-sm-2" id="inputStatus" formControlName="isAfterTax">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select> -->
          </div>
        </div>



        <div class="form-group col-9 col-md-4">
          <form [formGroup]="uploadForm" (ngSubmit)="previewImage()">
            <label for="inputGambar">Gambar</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" formControlName="chooseImage" class="custom-file-input" id="exampleInputFile" (change)="onFileSelected($event)"/>
                <label class="custom-file-label" for="exampleInputFile">Choose file</label>
              </div>
              <div class="input-group-append">
                <span type="submit" class="input-group-text">Upload</span>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!addProductForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>