<div class="invoice-content" id="invoice">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-12">
                <div class="invoice-wrapper">
                    <div class="intro">
                        <strong>Acong Kelontong</strong>,
                        <br />
                        Jl. Sepanjang Jalan Kenangan No.123<br />
                        Telepon: (022) 123-5432<br />
                        Email: acong@kelontong.com
                    </div>
                    <div class="payment-info">
                        <div class="row">
                            <div class="col-sm-6">
                                <span>Suplier</span>
                                <strong>{{invoiceData?.suplier_name}}</strong>
                            </div>
                            <div class="action">
                                <span>Suplier</span>
                                <button *ngIf="invoiceData?.status === 'unpaid'" class="btn btn-outline-primary"
                                    (click)="paySuplier(invoiceData?._id)">
                                    Pay this orders
                                </button>
                                <strong *ngIf="invoiceData?.status === 'paid'" class="col-sm-6">
                                    Paid
                                </strong>
                                <div class="col-sm-6 text-right">
                                    <span>Tanggal:</span>
                                    <strong>{{invoiceData?.updatedAt | date: "shortDate"}} {{invoiceData?.updatedAt |
                                        date:
                                        "shortTime"}}</strong>
                                </div>
                            </div>
                        </div>

                        <div class="line-items" *ngFor="let i of invoiceData?.orders">
                            <div class="headers clearfix">
                                <div class="row">
                                    <div class="col-xs-3">Order Id</div>
                                    <div class="col-xs-3">Produk</div>
                                    <div class="col-xs-2">Status</div>
                                    <div class="col-xs-3">Buy Price</div>
                                    <div class="col-xs-3">Discount</div>
                                    <div class="col-xs-2">Quantity</div>
                                    <div class="col-xs-2">Arrived</div>
                                    <div class="col-xs-2">Subtotal</div>
                                    <div class="col-xs-2">Is After Tax?</div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="row item">
                                    <div class="col-xs-2 qty">{{i._id}}</div>
                                    <div class="col-xs-3 desc">{{i.brand_name}}_{{i.product_name}}_{{i.uom}}</div>
                                    <div class="col-xs-3 qty">{{i.status}}</div>
                                    <div class="col-xs-3 qty">{{i.buyPrice | currency: "IDR"}}</div>
                                    <div class="col-xs-3 qty">{{i.discount}}</div>
                                    <div class="col-xs-2 qty">{{i.quantity}}</div>
                                    <div class="col-xs-3 qty">{{i.arrived}}</div>
                                    <div class="col-xs-4 amount text-right">{{i.subTotal | currency: "IDR"}}</div>
                                    <div class="col-xs-2 qty">{{i.isAfterTax}}</div>
                                </div>
                                <!-- <div class="row item">
                  <div class="col-xs-4 desc">Bootstrap snippet</div>
                  <div class="col-xs-3 qty">1</div>
                  <div class="col-xs-5 amount text-right">$20.00</div>
                </div>
                <div class="row item">
                  <div class="col-xs-4 desc">Snippets on bootdey</div>
                  <div class="col-xs-3 qty">2</div>
                  <div class="col-xs-5 amount text-right">$18.00</div>
                </div> -->
                            </div>
                            <div class="total text-right">
                                <!-- <p class="extra-notes">
                                    <strong>Notes</strong>
                                    Terimakasih telah berbelanja di Toko kami
                                </p> -->
                                <!-- <div class="field">Subtotal <span>Rp 379.00</span></div> -->
                                <div class="field grand-total">
                                    Total Bill <span>{{invoiceData?.bill | currency: "IDR"}}</span>
                                </div>
                            </div>

                            <div class="print">
                                <button ngxPrint printSectionId="invoice" [useExistingCss]="true">
                                    <i class="fa fa-print"></i>
                                    Print this invoice
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="footer">Copyright © 2021. Acong Kelontong</div>
                </div>
            </div>
        </div>
    </div>