<div
  *ngIf="isAlert"
  class="alert alert-danger d-flex align-items-center"
  role="alert"
>
  <svg
    class="bi flex-shrink-0 me-2"
    width="24"
    height="24"
    role="img"
    aria-label="Danger:"
  >
    <use xlink:href="#exclamation-triangle-fill" />
  </svg>
  <div>Stock Produk kurang dari 10</div>
</div>

<div class="card product">
  <h4>Daftar Produk</h4>
  <input
    [(ngModel)]="searchText"
    placeholder="Masukan Produk ID/Nama"
    class="search"
  />
  <div class="card-body p-0 row">
    <div class="col-12 col-lg-10">
      <div class="table-responsive">
        <table class="table m-0">
          <thead>
            <tr>
              <th scope="col">Stock</th>
              <th scope="col">Gambar</th>
              <th scope="col">Brand</th>
              <th scope="col">Produk</th>
              <th scope="col">UOM</th>
              <th scope="col">Barcode</th>
              <th scope="col">Harga</th>
              <!-- <th scope="col"></th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of Product | filter: searchText">
              <td>{{ product.stock }}</td>
              <td>
                <img
                  [src]="product.image"
                  alt="product image"
                  width="100"
                  height="100"
                />
              </td>
              <td>{{ product.brand_name }}</td>
              <td>{{ product.product_name }}</td>
              <td>{{ product.uom }}</td>
              <td>{{ product.barcode }}</td>
              <td>{{ product.sellPrice | currency: "IDR" }}</td>

              <!-- <td class="project-actions text-right">
                <a class="btn btn-info btn-sm" href="#">
                  <i class="fas fa-pencil-alt"> </i>
                  Edit
                </a>
                <a class="btn btn-danger btn-sm" href="#">
                  <i class="fas fa-trash"> </i>
                  Delete
                </a>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-12 col-lg-2">
      <form [formGroup]="addToCartForm" (ngSubmit)="onSubmit()">
        <div class="card-body form-row">
          <div class="form-group col-12 col-md-12">
            <label for="inputBarcode">Barcode</label>
            <input
              type="text"
              formControlName="barcode"
              class="form-control"
              placeholder="Barcode"
            />
          </div>

          <div class="form-group col-12 col-md-12">
            <label for="inputQuantity">Quantity</label>
            <input
              type="text"
              formControlName="quantity"
              class="form-control"
              placeholder="quantity"
            />
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-dark">Add to cart</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- <section class="cart" *ngFor="let cart of listCart"> -->
<section class="cart">
  <div class="content-header">
    <h3>Keranjang</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="invoice p-3 mb-3">
        <div class="row">
          <div class="col-12">
            <small class="float-right"
              >Date: {{ date | date: "shortDate" }}</small
            >
          </div>
          <div class="col-12">
            <small class="float-right"
              >Time: {{ date | date: "shortTime" }}</small
            >
          </div>
        </div>

        <div class="row invoice-info">
          <div class="col-sm-4 invoice-col">
            <!-- <b>Cart ID : </b> {{ cart._id }}<br /> -->
            <!-- <b>Admin ID : </b> {{ listCart[0].admin_id }}<br />
            <br /> -->
          </div>

          <div class="col-sm-4 invoice-col"></div>
          <div class="col-sm-4 invoice-col"></div>
        </div>

        <div class="row">
          <div class="col-12 table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Produk</th>
                  <th>Harga</th>
                  <th>Qty</th>
                  <th>Pajak</th>
                  <th>Total</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of listCart">
                  <td>{{ cart.product }}</td>
                  <td>{{ cart.price | currency: "IDR" }}</td>
                  <td>{{ cart.quantity }}</td>
                  <td>{{ cart.tax | currency: "IDR" }}</td>
                  <td>{{ cart.totalPrice | currency: "IDR" }}</td>
                  <td class="action">
                    <button
                      *ngIf="cart.status === 'on-process'"
                      class="btn btn-outline-primary"
                      (click)="onCancel(cart._id)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-7"></div>
          <div class="col-5">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <th>Total Pajak (10%)</th>
                  <td>{{ countTax | currency: "IDR" }}</td>
                </tr>
                <tr>
                  <th>Total Bayar:</th>
                  <td>{{ countTotalPrice | currency: "IDR" }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="row no-print">
          <div class="col-12">
            <button
              type="button"
              class="btn btn-dark float-right"
              (click)="onCheckOut()"
            >
              CheckOut
            </button>
          </div>
        </div>
      </div>
      <!-- <form class="form-cancel" *ngFor="let cart of listCart" [formGroup]="cancelForm" (ngSubmit)="onCancel(cart._id)">
        <div class="row">
          <div class="col-11">
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Alasan dicancel:</label>
              <textarea type="text" class="form-control" formControlName="notes" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>
          </div>
          <div class="col-1">
            <button type="submit" class="btn btn-dark float-right mb-3" [disabled]="!cancelForm.valid">
              cancel
            </button>
          </div>
        </div>
      </form> -->
    </div>
  </div>
</section>

<div class="receipt-content">
  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="col-md-12 print">
        <div id="receipt" class="invoice-wrapper">
          <div class="intro mb-3">
            <strong>Acong Kelontong</strong>,
            <br />
            Jl. Sepanjang Jalan Kenangan No.123<br />
            Telepon: (022) 123-5432<br />
            Email: acong@kelontong.com
          </div>

          <div class="payment-info">
            <div class="row mb-3">
              <div class="col-12">
                <small
                  >Date: {{ receiptData?.date | date: "shortDate" }}
                </small>
              </div>
              <div class="col-12">
                <small>Time: {{ receiptData?.date | date: "shortTime" }}</small>
              </div>
            </div>
          </div>

          <div class="line-items">
            <div class="headers clearfix">
              <div class="row">
                <div class="col-xs-3">Produk</div>
                <div class="col-xs-2">Quantity</div>
                <div class="col-xs-3">Harga</div>
                <div class="col-xs-4 text-right">Amount</div>
              </div>
            </div>
            <div class="items">
              <div class="row item" *ngFor="let i of receiptData?.items">
                <div class="col-xs-3 desc">{{ i.product }}</div>
                <div class="col-xs-2 qty">{{ i.quantity }}</div>
                <div class="col-xs-3 qty">
                  {{ i.price | currency: "IDR" }}
                </div>
                <div class="col-xs-4 amount text-right">
                  Rp {{ i.totalPrice | currency: "IDR" }}
                </div>
              </div>
            </div>
            <div class="total text-right">
              <div class="field">
                Total Pajak (10%)
                <span>Rp {{ receiptData?.totalTax | currency: "IDR" }}</span>
              </div>
              <div class="field grand-total">
                Total Bayar
                <span>Rp {{ receiptData?.subtotal | currency: "IDR" }}</span>
              </div>
            </div>
            <p class="extra-notes">
              <strong>Notes :</strong>
              Terimakasih telah berbelanja di Toko kami
            </p>
          </div>
        </div>
        <div class="print">
          <button
            ngxPrint
            printSectionId="receipt"
            [useExistingCss]="true"
            style="border-radius: 5px"
          >
            <i class="fa fa-print"></i>
            Print this receipt
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
