div.card.product {
  border: 2px solid black;
  border-radius: 6px;
}

h4 {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

table {
  background-color: black !important;
  color: white !important;
  border-radius: 6px;
  margin-right: 5px;
  margin-bottom: 5px;
}

thead {
  margin-left: 5px !important;
}

td {
  background-color: white !important;
  color: black !important;
}

input {
  max-width: 400px;
}
