
<h4>Daftar Produk</h4>
<div class="d-flex">
  <input [(ngModel)]="searchText" placeholder="Search" />
  <span class="ml-5 mr-1 mt-1"> Filter: </span>
  <form [formGroup]="inputBrandForm">
    <select class="custom-select mr-sm-2" id="inputNamaSuplier" formControlName="brand_name" (change)="filterBrand()"> 
      <option value="" selected></option>
      <option *ngFor="let brand of brandList" value="{{ brand._id }}">
        {{ brand?._id }}
      </option>
    </select>
  </form>
</div>
<br>
<div *ngIf="isAlert" class="alert alert-danger col align-items-center" role="alert">
  <p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">
      {{lowProduct?.length}} Notification
    </button>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <!-- <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
    <use xlink:href="#exclamation-triangle-fill" />
  </svg> -->
      <div *ngFor="let index of lowProduct">{{index}} kurang dari 10 <button (click)="closeNotification(index)">X</button> </div>
    </div>
  </div>
</div>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Status</th>
      <!-- <th scope="col">Id</th> -->
      <th scope="col">Brand</th>
      <th scope="col">Nama</th>
      <th scope="col">UOM</th>
      <th scope="col">Barcode</th>
      <th scope="col">Supplier</th>
      <th scope="col">Harga Beli</th>
      <th scope="col">Harga Jual</th>
      <th scope="col">Stock</th>
      <th scope="col">Gambar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of Product | filter: searchText">
      <td class="action">
        <button *ngIf="product?.status === 'inactive'" class="btn btn-outline-primary"
          (click)="activate(product?._id, product?.status)">
          Inactive
        </button>
        <button *ngIf="product?.status === 'active'" class="btn btn-outline-warning"
          (click)="deactivate(product?._id, product?.status)">
          Active
        </button>
      </td>
      <!-- <td>{{ product?._id }}</td> -->
      <td>{{ product?.brand_name }}</td>
      <td>{{ product?.product_name }}</td>
      <td>{{ product?.uom }}</td>
      <td>{{ product?.barcode }}</td>
      <td>{{ product?.suplier_name }}</td>
      <td>{{ product?.buyPrice | currency: "IDR" }}</td>
      <td>{{ product?.sellPrice | currency: "IDR" }}</td>
      <td>{{ product?.stock }}</td>
      <td>
        <img src="data:image/jpeg;base64,product.image" alt="product image" width="100" height="100" />
      </td>
      <!-- <td>{{ product.status }}</td>  data:image/jpeg;base64,-->
    </tr>
  </tbody>
</table>